/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

:root{

    --ft-size: 18px;

    /* Primary */

    --clr-pr-blue: hsl(246, 80%, 60%);
    --clr-pr-red-work: hsl(15, 100%, 70%);
    --clr-pr-soft-blue-play: hsl(195, 74%, 62%);
    --clr-pr-light-red-study: hsl(348, 100%, 68%);
    --clr-pr-lime-green-exercise: hsl(145, 58%, 55%);
    --clr-pr-violet-social: hsl(264, 64%, 52%);
    --clr-pr-soft-orange-selfcare: hsl(43, 84%, 65%);


    /* Neutral */

    --clr-very-dark-blue: hsl(226, 43%, 10%);
    --clr-dark-blue: hsl(235, 46%, 20%);
    --clr-desatured-blue: hsl(235, 45%, 61%);
    --clr-pale-blue: hsl(236, 100%, 87%);


}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-very-dark-blue);
    color: hsl(0, 0%, 100%);
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;

}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    margin-bottom: 25px;
    /* width: clamp(300px, 25vw, 500px); */
    width: 80vw;
   
    height: 200px;
}

.user-card{
    background-color: var(--clr-dark-blue);
    border: 1px solid var(--clr-very-dark-blue);
    border-radius: 15px;
}

.report-for{
    font-size: 14px;
    font-weight: 300;
    color: var(--clr-pale-blue);
}

.name{
    font-size: 24px;
    font-weight: 300;
}

.user-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: var(--clr-pr-blue);
    border-radius: 15px;    
}

.period{
    color: var(--clr-desatured-blue);
    cursor: pointer;
}

.period-card{
    background-position: -100px;
    height: 30%; 
}

.user-info{
    margin-left: 25px;
}

.user-info span{
    display: block;
}

.user-image{
    width: 64px;
    height: 64px;
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    cursor: pointer;
}


.period-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container{
    border-radius: 15px;
    cursor: pointer;
    background-image: url(./images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 95% -5%;
}

.card-container p{
    display: flex;
    justify-content: space-between;
}

.card-container-content{
    padding: 20px 25px;
    background-color: var(--clr-dark-blue);
    border-radius: 15px 15px 10px 10px;
    height: 75%;
    
}

.card-container img{
    width: 24.5px;
    height: 7px;
}


.banner{
    height: 25%; 
}

.card-container-content p:nth-child(1){
    margin-bottom: 20px;
}

.card-container-content p:nth-child(2){
    align-items: center;
}

.label{
    font-size: 1.125rem;
    font-weight: 500;
}

.hours{
    font-size: 2rem;
    font-weight: 300;
}

.previous{
    font-weight: 400;
    color: var(--clr-pale-blue);
}

.work{
    background-color: var(--clr-pr-red-work);
    background-image: url(./images/icon-work.svg);
}

.play{
    background-color: var(--clr-pr-soft-blue-play);
    background-image: url(./images/icon-play.svg);
}

.study{
    background-color: var(--clr-pr-light-red-study);
    background-image: url(./images/icon-study.svg);
}

.exercise{
    background-color: var(--clr-pr-lime-green-exercise);
    background-image: url(./images/icon-exercise.svg);
}


.social{
    background-color: var(--clr-pr-violet-social);
    background-image: url(./images/icon-social.svg);
}

.selfcare{
    background-color: var(--clr-pr-soft-orange-selfcare);
    background-image: url(./images/icon-self-care.svg);
}


.active{
    color: hsl(0, 0%, 100%);
    font-weight: normal;
}





@media only screen and (min-width: 1100px){

    main{
        display: grid;
        grid-template-areas: 'user-card work play study'
                             'user-card exercise social selfcare';
        grid-gap: 20px;   
    }
    
    .card{
        width: 20vw;
    }

    .user-card{
        grid-area: user-card;
        height: 95%;
        
    }

    .work{
        grid-area: work;
    }

    .play{
        grid-area: play;
    }

    .study{
        grid-area: study;
    }

    .exercise{
        grid-area: exercise;
    }

    .social{
        grid-area: social;
    }

    .selfcare{
        grid-area: selfcare;
    }

    .card-container p:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .hours{
        margin-bottom: 5px;
    }

    .name{
        width: 100px;
        font-size: 32px;
    }
    

    .user-label {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        height: 68%;
    }


    

    .period-card {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        padding-left: 25px;
        height: 32%;
    }

    .banner{
        height: 25%; 
    }

    .card-container-content{
        height: 75%;
        padding: 10px;
    }

    .label{
        padding-left: 5px;
        padding-top: 5px;
    }

}